$main-color: #63d1bb;
$light-grey: #fbfbfb;
$toys-color: #56c3b2;
$grey: #f1f1f1;
$nav-hover: #666666;
$nav-down: #b2b2b2;
$nav-icon-hover: #f5fcfb;
$nav-icon-down: #dcf5f0;
$head-btn-hover: #59d5bc;
$btn-arrow-hover: #444444;
$btn-text-down: #7c7c7c;
$mail-hover: #52c5b3;
$mail-down: #ecf9f7;